prefix=PATH
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/SourcesAndScripts/Sources/freetype/include

Name: FreeType 2
URL: https://freetype.org
Description: A free, high-quality, and portable font engine.
Version: VERSION
Requires: 
Requires.private: zlib, libpng
Libs: -L${libdir} -lfreetype
Libs.private: -lbz2
Cflags: -I${includedir}
