prefix=PATH
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/SourcesAndScripts/Sources/libpng

Name: libpng
Description: Loads and saves PNG files
Version: VERSION
Requires.private: zlib
Libs: -L${libdir} -lpng16
Libs.private: -lz
Cflags: -I${includedir}
