prefix=PATH
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/Headers/pixman

Name: Pixman
Description: The pixman library (version 1)
Version: VERSION
Libs: -L${libdir} -lpixman-1
Cflags: -I${includedir}
