prefix=PATH
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/Headers

Name: vorbisfile
Description: vorbisfile is a library that provides a convenient high-level API for decoding and basic manipulation of all Vorbis I audio streams
Version: VERSION
Requires.private: vorbis
Conflicts:
Libs: -L${libdir} -lvorbisfile
Cflags: -I${includedir}
