prefix=PATH
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/Headers

Name: vorbisenc
Description: vorbisenc is a library that provides a convenient API for setting up an encoding environment using libvorbis
Version: VERSION
Requires.private: vorbis
Conflicts:
Libs: -L${libdir} -lvorbisenc
Cflags: -I${includedir}
